<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Blog create</title>
</head>
<body>
<a href="/create">Create new blog</a><br><br>
<a href="/objectList">Back to list</a>
<h3>Create blog</h3>
<form th:action="@{/create}" method="post" th:object="${obj}">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td><b>Title</b></td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td><b>Content</b></td>
            <td><textarea type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>
</body>
</html>